.simple_container{
  width:300px;
  height: 250px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 100px auto;
  padding: 30px 20px ;
  font-family: Arial, Helvetica, sans-serif;
}
.p{
  font-size: 22px;
  font-weight: 600;
  margin: 2px 0px 20px 0px;
}
.label{
  font-size: 14px;
  font-weight: 600;
  color: #000;
  display: block;
  margin: none;
  
}
.input {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}
button{
  background: #7033ff;
  background-image: linear-gradient(180deg, #A962FF 0%, #7033FF 100%);
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 10px 0px;
}